body {
  background: url("https://img.freepik.com/free-vector/paper-style-white-monochrome-background_52683-66443.jpg?w=2000");
  font-family: sans-serif;
}

h2 {
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar {
  position: relative;
  border: 2px solid #097c24;
  border-radius: 20px;
}
.bar div {
  position: relative;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background-color: #16a157;
}
#html-bar {
  animation: html-fill 3s forwards;
}
@keyframes html-fill {
  100% {
    width: 45%;
  }
}
#css-bar {
  animation: css-fill 2s forwards;
}
@keyframes css-fill {
  100% {
    width: 40%;
  }
}
#javascript-bar {
  animation: js-fill 3s forwards;
}
@keyframes js-fill {
  100% {
    width: 1%;
  }
}
#javascript-bar {
  animation: js-fill 3s forwards;
}
@keyframes js-fill {
  100% {
    width: 1%;
  }
}
